<footer class="site-footer">
  <div class="footer-content">
    <h2>MAREVA MARTY-LEDOUX</h2>
    <a href="tel:0787412065" class="footer-phone">07 87 41 20 65</a>
    <a href="mailto:mareva.marty@mh-interior.fr" class="footer-email"
      >mareva.marty@mh-interior.fr</a
    >

    <div class="footer-socials">
      <a
        href="https://www.google.com/search?sca_esv=d5a9de7bb6a34566&sxsrf=ANbL-n5XCHlhH39hiwql6un8xT0NqDEVmQ:1770630291300&q=MH+INTERIOR+-+Mareva+Marty+%7C+Architecte+d%E2%80%99int%C3%A9rieur+Montauban&si=AL3DRZGNtcdgKOqVhotcr-UG2kkYpwR2WO4qu3O00NmpwBmLnU0jFWnfv1AfH8PzRUqkkEH3sIF_Kb7bbWo6uFC7eOo71atu1OnjYusoyjNFk8Ko40QTX9B4I7xwFc3jjD9vMrRDx8TByjRWIY9We7ARSVLecMcBH2EyexOPoCCHdwGJwVA2Gm0_3L8MHV1eHNv690CEXieV&sa=X&ved=2ahUKEwiXpqrsj8ySAxUxR6QEHdXSMjIQ_coHegQIQxAB&biw=1080&bih=1797&dpr=1"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Voir MH Interior sur Google"
      >
        <img src="/assets/images/logos/google.svg" alt="" aria-hidden="true" />
      </a>

      <a
        href="https://www.instagram.com/mareva.mhinterior.montauban/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <img
          src="/assets/images/logos/instagram.svg"
          alt=""
          aria-hidden="true"
        />
      </a>

      <a
        href="https://www.facebook.com/profile.php?id=100085130242795"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook"
      >
        <img
          src="/assets/images/logos/facebook.svg"
          alt=""
          aria-hidden="true"
        />
      </a>

      <a
        href="https://www.linkedin.com/in/mareva-marty-ledoux-mh-interior-a524bb161/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <img
          src="/assets/images/logos/linkedin.svg"
          alt=""
          aria-hidden="true"
        />
      </a>
    </div>
  </div>
</footer>
