<header class="site-header">
  <div class="header-content">
    <h1 class="site-title">
      <a href="/index.html">Mareva MARTY-LEDOUX</a>
    </h1>

    <nav class="site-nav">
      <ul>
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="/a-propos.html">À propos de moi</a></li>
        <li><a href="/projets.html">Projets - Réalisations</a></li>
        <li><a href="/dessins.html">Dessins</a></li>
        <li><a href="/maquettes.html">Maquettes</a></li>
      </ul>
    </nav>
  </div>
</header>
